<header>
    <div class="header100">
        <div class="container">
            <div class="header">
                <div class="row">
                    <div class="col-xs-9 col-md-3 logo">
                        <div class="logodiv"><a href="https://tubzi.com/"><img alt="TubZi Tiktok Viewer"
                                    src="https://tubzi.com//styles/tubzi.com/images/logo.png"></a></div>
                    </div>
                    <div class="col-xs-6 col-md-9 topmenu"> <span class="responsivemenu"><i
                                class="fa fa-navicon"></i></span>
                        <div class="topmenudiv">
                            <ul>
                                <li id="menuHome"><a href="https://tubzi.com/">Home</a></li>
                                <li id="menuPouplar"><a href="https://tubzi.com/tiktok-popular-videos">Top Videos</a>
                                </li>
                                <li id="menuPouplar"><a href="https://tubzi.com/tiktok-popular-users">Influencers</a>
                                </li>
                                <li id="menuSearch"><a href="https://tubzi.com/tiktok-search/">Search</a></li>
                                <li id="menuSearch"><a href="/about-us">About</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="search100" style="background-image:url('/img/tiktok_viewer-background.jpg')">
    <div class="coverphoto-gradient"></div>
    <div class="container">
        <div class="searchdiv">
            <div class="searchcontent">
                <h1>TikTok Viewer</h1> <span>Tiktok contents is on the Web with a new design experience.<br>
                    <p style="font-size: 16px;">TubZi is an Tiktok Web Viewer that you can easily browse users,
                        followers, hashtags, popular contents, statistics and much more.</p><br><br><br>
                    <p>Start with searching users or hashtags.</p>
                </span>
            </div>
            <div class="searchcenter"><input type="text" id="homeSearchText" required="required"
                    class="searchcenterinput1" placeholder="Search #tag or @user"></div>
            <div class="searchright"><a id="searchButton" href="#"><i class="fa fa-search"></i> SEARCH</a></div>
        </div>
    </div>
</div>
<div id="photoDetail" class="container"></div>

<div class="container">
    <div style="line-height: 22px;padding: 10px;text-align: center;">
        <p style="margin: 10px 0;border: 1px solid #f9b234;padding: 10px;color: #5b6365;"><strong>TubZi is not
                affiliated with Tik Tok. We do not host any of the Tik Tok videos or images on our servers, all rights
                belong to their respective owners.</strong></p> <br>
        <h2 style="text-align: center;padding: 5px;font-size: 20px;font-weight: bold;">What is Tiktok ? </h2>
        <p>Tik Tok is a short-form, video-sharing app that allows users to create and share 15-second videos, on any
            topic. Musical.ly was purchased by Chinese company ByteDance in November 2017 and officially absorbed into
            their already existing app called Tik Tok in August 2018.</p>
        <p>Tik Tok maintains a separate app for the Chinese market, known as Douyin, which has over 500 million active
            monthly users. The new app’s logo is a combination of the Musical.ly and Douyin logos.</p>
        <h2 style="text-align: center;padding: 5px;font-size: 20px;font-weight: bold;">How to Use Tik Tok ? </h2>
        <p>You don’t have to register for an account on Tik Tok in order to use it. However, registering for an account
            allows you to follow other users and actually make videos. When you first open the app, you’ll probably feel
            overwhelmed at the sight of the neverending stream of videos that appear on your home page.</p>
        <p>Tik Tok shows you recommended videos, as well as videos from the musers that you follow. Scroll through the
            suggested videos, and click the username on the ones you like. If you enjoy the rest of their content, give
            them a follow and stay up to date on all of their new posts.</p>
    </div>


    <style type="text/css">
        .mostPopularTags {
            margin-bottom: 25px;
        }

        .mostPopularTags .relatedTags li a {
            padding: 5px 6px;
        }

        .mostPopularTags .relatedTags li {
            margin: 3px 3px;
        }

        .tagHeader h3 {
            font-weight: normal
        }
    </style>

    <div class="container tagHeader mostPopularTags">
        <h3>Popular TikTok Hashtags</h3>
        <ul class="relatedTags">
            <li><a href="https://tubzi.com/forex/tiktok-tag/607766">#<strong>forex</strong></a></li>
            <li><a
                    href="https://tubzi.com/mercuryinretrograde/tiktok-tag/45590370">#<strong>mercuryinretrograde</strong></a>
            </li>
            <li><a href="https://tubzi.com/cook/tiktok-tag/8473">#<strong>cook</strong></a></li>
            <li><a href="https://tubzi.com/comedy/tiktok-tag/1606334392378370">#<strong>comedy</strong></a></li>
            <li><a href="https://tubzi.com/forextrader/tiktok-tag/16889414">#<strong>forextrader</strong></a></li>
            <li><a
                    href="https://tubzi.com/10yearchallenge/tiktok-tag/1612955802234886">#<strong>10yearchallenge</strong></a>
            </li>
            <li><a href="https://tubzi.com/belgium/tiktok-tag/18599">#<strong>belgium</strong></a></li>
            <li><a
                    href="https://tubzi.com/filtermakeover/tiktok-tag/1601946379913221">#<strong>filtermakeover</strong></a>
            </li>
            <li><a href="https://tubzi.com/footshake/tiktok-tag/11732755">#<strong>footshake</strong></a></li>
            <li><a href="https://tubzi.com/polishgirl/tiktok-tag/67458">#<strong>polishgirl</strong></a></li>
            <li><a href="https://tubzi.com/creditcard/tiktok-tag/187587">#<strong>creditcard</strong></a></li>
            <li><a href="https://tubzi.com/finance/tiktok-tag/761210">#<strong>finance</strong></a></li>
            <li><a href="https://tubzi.com/russia/tiktok-tag/14927">#<strong>russia</strong></a></li>

        </ul>
    </div>


    <div class="popularphoto">
        <div class="popularphototitle">
            <h2 class="phtp1">Popular Videos</h2>
        </div>
        <div class="row" id="popularPhoto">
            <div class="col-sm-12 col-md-6 col-lg-4 pptab">
                <div class="pptabdiv">
                    <ul>
                        <li class="pp1"> <a href="https://tubzi.com/jdk.official/tiktok-user/6743276500088259590"> <img
                                    src="https://p16-va-tiktok.ibyteimg.com/img/musically-maliva-obj/8969aed99904a30e34d637ac9cd07547~c5_100x100.jpeg"
                                    alt="jdk.official - JDK"> </a> <a
                                href="https://tubzi.com/jdk.official/tiktok-user/6743276500088259590">@jdk.official</a>
                            <a href="https://tubzi.com/jdk.official/tiktok-user/6743276500088259590">JDK</a> <span>2
                                weeks ago</span> </li>
                        <li class="pp2 location"></li>
                        <li class="pp3" style="overflow:hidden;"> <span title="DE Country Tiktok Video"
                                class="region flag-icon-de"></span> <i class="pVideo fa fa-youtube-play"></i> <a
                                href="https://tubzi.com/jdk.official/tiktok-video/6837459513809898758"> <img
                                    title="JDK - @jdk.official - Teil 5! Nimmt es nicht zu ernst ist nur Unterhaltung 🤷🏾‍♂️ #fyp #foryoupage #fürdich #education #bildung #schoolbelike Instagram:jdk.official"
                                    src="https://p16-tiktok-va.ibyteimg.com/obj/tos-maliva-p-0068/033f137887394a499203aab189876b75_1591970104?x-expires=1593352800&amp;x-signature=5DnFwXX%2BVriavwXjKtJUlBI1n8c%3D"
                                    alt=""> <span>JDK - @jdk.official - Teil 5! Nimmt es nicht zu ernst ist nur
                                    Unterhaltung 🤷🏾‍♂️ #fyp #foryoupage #fürdich #education #bildung #schoolbelike
                                    Instagram:jdk.official</span> </a> </li>
                        <li class="pp4"> <span title="@jdk.official- JDK TikTok Video Like Count" class="photolike"><i
                                    class="fa fa-heart-o" aria-hidden="true"></i>101,200</span> <span
                                title="@jdk.official- JDK TikTok Video Comment Count" class="photocomment"><i
                                    class="fa fa-comment-o" aria-hidden="true"></i>493</span> <span
                                title="@jdk.official- JDK TikTok Video Share Count" class="photocomment"><i
                                    class="fa fa-share-square" aria-hidden="true"></i>5,724</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>