{{>client/header}}
{{>client/search}}

<div id="photoDetail" class="container"></div>

<div class="container">
    <div style="line-height: 22px;padding: 10px;text-align: center;">
        <p style="margin: 10px 0;border: 1px solid #f9b234;padding: 10px;color: #5b6365;"><strong>TubZi is not
                affiliated with Tik Tok. We do not host any of the Tik Tok videos or images on our servers, all rights
                belong to their respective owners.</strong></p> <br>
        <h2 style="text-align: center;padding: 5px;font-size: 20px;font-weight: bold;">What is Tiktok ? </h2>
        <p>Tik Tok is a short-form, video-sharing app that allows users to create and share 15-second videos, on any
            topic. Musical.ly was purchased by Chinese company ByteDance in November 2017 and officially absorbed into
            their already existing app called Tik Tok in August 2018.</p>
        <p>Tik Tok maintains a separate app for the Chinese market, known as Douyin, which has over 500 million active
            monthly users. The new app’s logo is a combination of the Musical.ly and Douyin logos.</p>
        <h2 style="text-align: center;padding: 5px;font-size: 20px;font-weight: bold;">How to Use Tik Tok ? </h2>
        <p>You don’t have to register for an account on Tik Tok in order to use it. However, registering for an account
            allows you to follow other users and actually make videos. When you first open the app, you’ll probably feel
            overwhelmed at the sight of the neverending stream of videos that appear on your home page.</p>
        <p>Tik Tok shows you recommended videos, as well as videos from the musers that you follow. Scroll through the
            suggested videos, and click the username on the ones you like. If you enjoy the rest of their content, give
            them a follow and stay up to date on all of their new posts.</p>
    </div>


    <style type="text/css">
        .mostPopularTags {
            margin-bottom: 25px;
        }

        .mostPopularTags .relatedTags li a {
            padding: 5px 6px;
        }

        .mostPopularTags .relatedTags li {
            margin: 3px 3px;
        }

        .tagHeader h3 {
            font-weight: normal
        }
    </style>

    <div class="container tagHeader mostPopularTags">
        <h3>Popular TikTok Hashtags</h3>
        <ul class="relatedTags">
            {{#each hashTags}}
            <li title="{{this.title}}"><a href="https://tubzi.com/russia/tiktok-tag/14927">#<strong>{{this.name}}</strong></a></li>

            {{/each}}

        </ul>
    </div>


    <div class="popularphoto">
        <div class="popularphototitle">
            <h2 class="phtp1">Popular Videos</h2>
        </div>
        <div class="row" id="popularPhoto">
            {{#each topTrendPost}}
            {{>client/post-item}}
            {{/each}}
        </div>
    </div>
    <div class="showMore"> <a class="" href="{{createPopularUrl}}"><i class="fa fa-search-plus" aria-hidden="true"></i>
            More Videos</a> </div>
</div>
<script type="text/javascript"> activePage = 'Home';</script>

{{>client/footer}}