.ktz-allwrap {
    margin: 5px auto 10px auto;
    width: 99%;
    max-width: 860px
}

.inputsearch #inputform_wrapper {
    background: #f5f5f5;
    width: 90%;
    max-width: 500px;
    height: 46px;
    border-radius: 20px;
    margin: 15px auto;
    padding-left: 15px;
    border: 1px solid #007ebd
}

.inputsearch {
    color: #00c5d1;
    font-size: 13px;
    font-weight: 400;
    text-align: center
}

.inputtext {
    color: #333;
    outline: 0;
    background-color: #f5f5f5;
    font-size: 14px;
    font-weight: 400;
    float: left;
    width: 83.33333333333333%;
    height: 44px;
    border: none;
    border-radius: 20px 20px 20px 20px;
    padding: 0 .8333333333333333%
}

.inputbutton {
    color: #fff;
    border-radius: 20px 20px 20px 20px;
    background-color: #0080fc;
    font-size: 13px;
    font-weight: 700;
    float: left;
    width: 14.16666666666667%;
    height: 34px;
    border: none;
    border: 2px;
    margin: 5px .8333333333333333% 5px;
    padding: 0;
    cursor: pointer;
    outline: 0
}

.ytthumb {
    margin: 8px
}

a,
audio,
b,
blockquote,
button,
div,
em,
form,
h1,
h2,
h3,
h4,
h5,
i,
iframe,
img,
li,
p,
span,
strong,
table,
td,
tr {
    word-wrap: break-word
}