.ktz-logo .singleblogtit a,
.ktz-logo .singleblogtit a:active,
.ktz-logo .singleblogtit a:focus,
.ktz-logo .singleblogtit a:hover,
.ktz-logo .singleblogtit a:visited,
.ktz-logo h1.homeblogtit a,
.ktz-logo h1.homeblogtit a:hover,
.ktz-logo h1.homeblogtit a:visited,
body {
    color: #222
}

.download,
.inputsearch,
table td {
    text-align: center
}

body {
    background: #eee;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal
}

.ktz-mainheader {
    background: #fff
}

@media only screen and (max-width:992px) {
    .ktz-allwrap {
        width: 90%
    }
}

.ktz-logo .desc {
    color: #999
}

.ktz-logo div.singleblogtit,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", helvetica;
    font-style: normal;
    color: #2b2b2b
}

#breadcrumbs-wrap a:focus,
#breadcrumbs-wrap a:hover,
a#cancel-comment-reply-link:hover,
a:active,
a:focus,
a:hover {
    color: #11355c
}

#wp-calendar tbody td:hover,
#wp-calendar tbody td:hover a,
.bbp_widget_login .bbp-login-form button,
.entry-content input[type=submit],
.ktz-bbpsearch button,
.ktz-prevnext a,
.ktz-readmore,
.page-link a,
.widget_feedburner,
.wpcf7 input.wpcf7-submit[type=submit],
a.readmore-buysingle,
input#comment-submit {
    background: #11355c
}

.page-link a:hover {
    background: #4c4c4c;
    color: #fff
}

.ktz-allwrap.wrap-squeeze,
.tab-comment-wrap .nav-tabs>li.active>a,
.tab-comment-wrap .nav-tabs>li.active>a:focus,
.tab-comment-wrap .nav-tabs>li.active>a:hover,
.tab-comment-wrap .nav-tabs>li>a:hover {
    border-color: #11355c
}

.ktz_thumbnail a.link_thumbnail,
.owl-theme .owl-controls .owl-buttons .owl-next span,
.owl-theme .owl-controls .owl-buttons .owl-prev span,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #11355c
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    border-color: #11355c #11355c #11355c transparent
}

.ktz_thumbnail.ktz_thumbnail_gallery a.link_thumbnail {
    background-color: transparent
}