<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <div class="row layout-top-spacing">
            <div id="basic" class="col-lg-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Cấu hình chung</h4>
                                        </div>
                                    </div>
                                </div>
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Thêm proxy</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        {{#each errors}}
                        <div class="alert alert-danger mb-4" role="alert"> <button type="button" class="close"
                                data-dismiss="alert" aria-label="Close"> <svg xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-x close" data-dismiss="alert">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg></button> <strong>Error!</strong> {{this}} </div>
                        {{/each}}
                        <div class="row">
                            <div class="col-lg-6 col-12 mx-auto">
                                <form method="post">
                                    <div class="form-group">
                                        <p>Example : http:prYS2D:rk0Ecu:186.65.115.194:9775</p>
                                        <label for="t-text" class="sr-only">Text</label>
                                        <input id="t-text" type="text" name="proxy"
                                            placeholder="protocol:username:password:ip:port" class="form-control"
                                            required="">
                                        <input type="submit" class="mt-4 btn btn-primary">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>admin/footer}}

</div>
<!--  END CONTENT AREA  -->