<footer>
    <div class="footer100">
        <div class="container">
            <div class="footerLogo"><a href="https://tubzi.com/"><img title="TubZi Tiktok Viewer"
                        alt="TubZi Tiktok Viever" src="https://tubzi.com//styles/tubzi.com/images/logo.png"></a>
            </div>
            <div class="footer"> <span class="copyright" style="top:0">
                    <p class="links"> <span><a href="https://tubzi.com/privacy">Privacy Policy</a></span> <span><a
                                href="https://tubzi.com/support">Support</a></span> <span><a
                                href="https://tubzi.com/about-us">About</a></span> <span><a
                                href="https://tubzi.com/terms-of-service">Terms of Service</a></span> </p> 2019 -
                    Copyright all rights reserved | <a href="https://tubzi.com/">TikTok Online Viewer</a> |
                    tubzi.com <p style="margin-top: 5px;font-size: 11px;">We do not host any of the TikTok videos or
                        images on our servers, all rights belong to their respective owners.</p>
                </span>
                <ul class="footersocial">
                    <li><a target="_blank" title="TubZi Instagram Account" href="https://www.instagram.com/tikvid"><i
                                class="fa fa-instagram"></i></a></li>
                    <li><a id="alexaStatistic" target="_blank" title="TubZi Statistic"
                            href="https://www.alexa.com/siteinfo/tubzi.com"><i class="fa fa-info"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
  <script src="https://tubzi.com/js/jquery.js"></script>
  <script src="https://tubzi.com/js/jquery.lazy.min.js"></script>
  <script src="https://tubzi.com/js/bootstrap.min.js"></script>
  <script src="https://tubzi.com/js/site.js?v=16"></script>
  <script src="https://twemoji.maxcdn.com/twemoji.min.js"></script>