<footer class="footer">
    <div class="copyright">
        <div class="container">
            <div class="footercredits pull-left">© Copyright 2020 <a href="/">{{metaTags.host}}</a>, All
                Rights Reserved.</div>
        </div>
    </div>
</footer>