<header>
    <div class="header100">
        <div class="container">
            <div class="header">
                <div class="row">
                    <div class="col-xs-9 col-md-3 logo">
                        <div class="logodiv"><a href="https://tubzi.com/"><img alt="TubZi Tiktok Viewer"
                                    src="https://tubzi.com//styles/tubzi.com/images/logo.png"></a></div>
                    </div>
                    <div class="col-xs-6 col-md-9 topmenu"> <span class="responsivemenu"><i
                                class="fa fa-navicon"></i></span>
                        <div class="topmenudiv">
                            <ul>
                                <li id="menuHome"><a href="{{createHomeUrl}}" >Home</a></li>
                                <li id="menuPouplar"><a href="{{createPopularUrl}}">Top Videos</a>
                                </li>
                                <li id="menuPouplar"><a href="https://tubzi.com/tiktok-popular-users">Influencers</a>
                                </li>
                                <li id="menuSearch"><a href="https://tubzi.com/tiktok-search/">Search</a></li>
                                <li id="menuSearch"><a href="/about-us">About</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>