<header class="ktz-mainheader">
    <div class="header-wrap">
        <div class="container">
            <div class="clearfix">
                <div class="ktz-logo"><a href="/" title="{{metaTags.host}}"><img
                          src="/img/logo.png" alt="{{metaTags.host}}"></a>
                    <h1 class="homeblogtit-hide"><a href="/" title="{{metaTags.host}}">{{metaTags.host}}</a></h1>
     
                    <div class="desc-hide">Free Download Lagu MP3 Terbaru    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<form id="autoform" method="GET" class="inputsearch" action="/submit"  >
    <div id="inputform_wrapper">
        <input id="autoinput"  class="inputtext" name="q" type="text" autocomplete="off"
            placeholder="Ketik Judul Lagu Atau Nama Penyanyi">
        <button type="submit" class="inputbutton"><i class="glyphicon glyphicon-search"></i></button>
    </div>
</form>