<div class="search100" style="background-image:url('/img/tiktok_viewer-background.jpg')">
    <div class="coverphoto-gradient"></div>
    <div class="container">
        <div class="searchdiv">
            <div class="searchcontent">
                <h1>TikTok Viewer</h1> <span>Tiktok contents is on the Web with a new design experience.<br>
                    <p style="font-size: 16px;">TubZi is an Tiktok Web Viewer that you can easily browse users,
                        followers, hashtags, popular contents, statistics and much more.</p><br><br><br>
                    <p>Start with searching users or hashtags.</p>
                </span>
            </div>
            <div class="searchcenter"><input type="text" id="homeSearchText" required="required"
                    class="searchcenterinput1" placeholder="Search #tag or @user"></div>
            <div class="searchright"><a id="searchButton" href="#"><i class="fa fa-search"></i> SEARCH</a></div>
        </div>
    </div>
</div>
